html {
    text-align: center;
    background-color: black;
    color: white;
    font-family: Verdana, Tahoma, sans-serif;
}

#title {
    font-size: 25px;
    font-weight: normal;
}

.heading {
    font-weight: 300;
    font-size: 42px;
}

p {
    font-size: 21px;
    color: gray;
}

p a {
    color: aquamarine;
    font-size: 16px;
}

img {
    margin: 12px 0;
}

footer {
    text-align: right;
    color: gray;
}